{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cv.css' %}">
{% endblock %} extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="d-flex justify-content-center align-items-center mb-4">
        {% if credential.icon %}
            <img src="{% static 'icon/' %}{{ credential.icon }}" alt="{{ credential.title }} icon" class="me-3 credential-icon-large">
        {% else %}
            <i class="bi bi-award me-3 award-icon-large"></i>
        {% endif %}
        <h2>{{ credential.title }}</h2>
    </div>
    <ul class="list-group my-4">
        <li class="list-group-item"><strong>Institution: </strong> {{ credential.institution }}</li>
        <li class="list-group-item"><strong>Date Obtained:</strong> {{ credential.date_obtained }}</li>
        {% if credential.link %}
        <li class="list-group-item"><strong>Credential URL:</strong> <a href="{{ credential.link }}" target="_blank">{{ credential.link }}</a></li>
        {% endif %}
    </ul>
    <a href="{% url 'cv:credential_list' %}" class="btn btn-secondary">Back to Credentials</a>
</div>
{% endblock %}